apps/desktop/frontend/dist/
apps/desktop/frontend/node_modules/
apps/desktop/bin/
apps/desktop/.task/
apps/desktop/build/android/
apps/desktop/build/ios/
apps/desktop/build/linux/appimage/build/
apps/desktop/build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
